* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(70, 69, 70);
    height: 100vh;
    margin: 0;
  }
  
  .heading {
    text-align: center;
    font-family: 'Festive', cursive;
    font-weight: 700;
    font-size: 60px;
    margin: 20px;
    max-width: auto;
    color: rgb(185, 184, 184);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: auto;
    max-height: auto;
  } 
  
  .square {
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: #2e2d2e;
    box-shadow: 0px 0px 12px rgb(238, 200, 240);
    height: 33px;
    width: 38px;
    margin: 1px;
    transition: 2s ease-in-out;
  }
  
  .square:hover {
    transition-duration: 0s;
  }